# Ignore Auxiliary Files

*.aux
*.auxlock
*.bak
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.thm
*.xwm
*.nav
*.snm
*-blx.bib
*.bcf
*.run.xml
*.xdv
tikz/

# Ignore delete.bat

**/delete.bat
!tools/delete.bat

# Ignore PDF Files

*.pdf
!documentation/**/*.pdf
!tongji-name-bacholar.pdf

# Ignore the test folder

test/

# Ignore Git Commitizen

*.czrc

# Ignore desktop.ini

desktop.ini
