# Ignore Auxiliary Files

*.aux
*.bak
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.thm
*.xwm

# Ignore PDF Files

*.pdf

# Ignore Git Commitizen

*.czrc
