# Ignore Auxiliary Files

*.aux
*.bak
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.thm
*.xwm
*.nav
*.snm

# Ignore delete.bat

**/delete.bat
!tools/delete.bat

# Ignore PDF Files

*.pdf
!documentation/**/*.pdf

# Ignore Git Commitizen

*.czrc
